<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
    <system.web>
      
        <compilation debug="true" targetFramework="4.0" />
      <httpHandlers>
        <remove path="*.asmx" verb="*"/>

        <add path="*.asmx" verb="*"
        type="System.Web.Script.Services.ScriptHandlerFactory, 
      System.Web.Extensions,  Version=1.0.61025.0, 
      Culture=neutral, 
      PublicKeyToken=31BF3856AD364E35"
        validate="false"/>

        <add path="*_AppService.axd" verb="*"
        type="System.Web.Script.Services.ScriptHandlerFactory, 
      System.Web.Extensions, Version=1.0.61025.0, 
      Culture=neutral, 
      PublicKeyToken=31BF3856AD364E35"
        validate="false"/>

        <add path="ScriptResource.axd" verb="GET,HEAD"
        type="System.Web.Handlers.ScriptResourceHandler, 
      System.Web.Extensions, Version=1.0.61025.0, 
      Culture=neutral, 
      PublicKeyToken=31BF3856AD364E35"
        validate="false"/>

      </httpHandlers>

      <httpModules>
        <add name="ScriptModule"
        type="System.Web.Handlers.ScriptModule, 
      System.Web.Extensions, 
      Version=1.0.61025.0, Culture=neutral, 
      PublicKeyToken=31BF3856AD364E35"/>
      </httpModules>
    </system.web>
  

</configuration>
